*{
    margin:0;
    padding:0;
    font-family:'Poppins',sans-serif ;
    box-sizing: border-box;
}
body{
    background: #080808;
    color: #fff;
}
#header{
    width:100%;
    height: 100vh;
    background-image: url(images/sandeep1.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

}
.container{

    padding: 10px,10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: auto;
}

.logo {
    height: auto; 
    max-width: 20%;
    }

nav ul li{
    
    display:inline;
    list-style: none;
    margin: 10px 10px;
}

nav ul li a{
    color : darkgoldenrod;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content:'';
    width: 0;
    height: 3px;
    background: lightpink;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width:100%;
}
.header-text {
    float: left; /* Align to the right side */
    text-align: left; /* Align text to the right within the block */
    max-width: 50%; /* Adjust the width as needed */
    padding: 10px; /* Add padding as needed */
    box-sizing: border-box;
}

/* Style for the text */
.header-text p {
    margin-top: 20%;
    font-size: 30px;

}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: goldenrod;
}
/* ---------about-----------*/
#about{
    padding: 80px 0;
    color: whitesmoke;
    text-align: left;
    
}

.about-col-1 img {
    flex-basis: 35% ;
    margin-left: 70px; /* You can adjust this value to move the image as desired */
}
.about-col-1 img {
      width: 100%;
    border-radius: 15px;
    margin-right: 70px;
    border: 6px solid goldenrod; 
}
.row{
    display:flex ;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-2{
    flex-basis:60%;
    order: -2;
    text-align: right;
    
}
